%bgstyle{
    background-position:50%;
    background-size:cover;
    background-repeat: no-repeat;
}

%flexDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

